<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URY Wrapped</title>
  </head>
  <body>
    <h1>URY Wrapped</h1>
    {% for task in task_names %}
      <img src="/img/{{ task }}" width="256" height="256" style="margin: 8px; border: 1px solid #333333">
    {% endfor %}
  </body>
</html>
