<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URY Wrapped</title>
  </head>
  <body>
    <h1>URY Wrapped</h1>
    <a href="https://ury.org.uk/myradio/MyRadio/login?next=/wrapped">Sign in with MyRadio</a>
  </body>
</html>
